.bodyPage h2 {
    text-align: center;
}
#cards-production{
    width: 90%;
    min-width: 160px;
}

.card {
    min-width: 160px;
}



.card-prod {    
    max-width: 1000px;
    border: 1px solid #202020;
    background-color: var(--card-bg);
    padding: 5px;
    margin-bottom: 5px;
}

.categ-Name{
    width: 100%;
    max-width: 1000px;
}

.bottom-card-left p,
.bottom-card-right p {
    font-size: 12px;
}

.bottom-card-rigth {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.bottom-card-right div,
.bottom-card-left div {
    margin-top: 5px;
}



.modal-button-production {
    display: flex;
    justify-content: flex-start;
    width: 100%;
    max-width: 1000px;
    margin-bottom: 10px;
}

.modal-inputs-reg {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}


.modal-p-fsu {
    margin: 0;
    margin-top: 3px;
    padding: 0;
}

.modal-fu-feedstock,
.modal-fu-typemeasure {
    font-size: 15px;
}

.modal-fu-feedstock {
    width: 100%;
}

.modal-fu-typemeasure {
    width: auto;
}

.modal-fu-quantity {
    font-size: 15px;
    width: 95px;
    height: 29px;
    margin-left: 5px;
}

.title-card {
    cursor: pointer;
}

.modal-button-add {
    display: flex;
}

.area-add-feedstockused {
    border: 1px #202020;
    width: 100%;
    max-width: 1000px;
    display: flex;
}

.MuiBox-root,
.css-1eh8vss {
    max-height: 98vh;
    width: 95%;
    padding: 0;
    max-width: 400px;
}

.title-list {
    border-bottom: 1px solid #FFFFFF;
    margin-bottom: 10px;
    padding: 0;
    width: 100%;
    max-width: 1000px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.title-list p {
    margin: 2px;
}

.icon-showlist {
    margin: 0;
    padding: 0;
}

@media only screen and (max-width: 500px) {
    .area-add-feedstockused {
        box-shadow: 0 -1px 0 #e5e5e5, 0 0 2px rgb(0 0 0 / 12%), 0 2px 4px rgb(0 0 0 / 24%);
        border: 0px solid #202020;
        width: 100%;
        display: inline;
    }

    .title-list {
        width: 100%;
    }
}

/* TABELA DE MATERIA PRIMA UTILIZADA */

thead,
tfoot {
    background-color: #3f87a6;
    color: #fff;
}

tbody {
    background-color: #40565e;
}

caption {
    padding: 10px;
    caption-side: bottom;
}

table {
    border-collapse: collapse;
    border: 2px solid rgb(200, 200, 200);
    letter-spacing: 1px;
    font-family: sans-serif;
    font-size: .4rem;
    width: 100%;
}

td,
th {
    border: 1px solid rgb(190, 190, 190);
    padding: 2px 6px;
    font-size: 17px;
    white-space: nowrap;
}

td {
    text-align: center;
}

.table-feedstockused {
    max-height: 300px;
    overflow-y: auto;
    overflow-x: auto;
    margin-bottom: 10px;
    width: 100%;
}

.area-trash-item:hover {
    cursor: pointer;
}

.qtd-edit-feedstock {
    width: 35px;
}

.btn-edit-feedstock {
    display: inline-block;
    line-height: 0.1;
    color: #212529;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    cursor: pointer;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    background-color: #FFFF;
    box-shadow: 0 -1px 0 #e5e5e5, 0 0 2px rgb(0 0 0 / 12%), 0 2px 4px rgb(0 0 0 / 24%);
    border: 0px solid #202020;
    padding: 5;
    font-size: 1rem;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
    background-color: #FFFF;
    color: #198754;
}

.btn-edit-feedstock:hover {
    background-color: #198754;
    color: #FFFF;
}

#btn-back{
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 30px;
}

#btn-back svg{
    margin-right: 5px;
}

.indicators {
    display: flex;
    width: 100%;
    max-width: 1000px;
    justify-content: space-between;
    background-color: var(--card-bg);
    margin-bottom: 20px;
}

.indicators p {
    margin: 10px;
    padding: 0;
}

.total-itens {
    margin: 0 0 50px 0;
    padding: 0;
}