:root {
    --add: #36e794;
    --add-hover: #198754;
    --del: #f55252;
    --del-hover: #d10606;
    --bg-load: #757575;
    --color-pri-old: #0093c9;
    --color-sec-old: #005e80;
    --color-pri: #0093c9;
    --color-sec: #005e80;
    --color-text-pri: #FFF;
    --color-text-sec: #000;
    --color-hover-menu: #ffffff65;
    --card-bg: #1f1f1f;
}

body {
    background: #2e3030;
    font-family: verdana;
    width: 100%;
    margin: auto;
    color: #FFFFFF;
}

.bodyPage {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 0;
    padding-top: 60px;
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 100px;
}

.bodyPage h1 {
    margin: 0;
    padding: 0;
}

.logo-page {
    margin-top: 80px;
    justify-content: center;
    align-items: center;
    display: flex;
}

#__react-alert__ {
    z-index: 150000;
    position: fixed;
}

#__react-alert__ div div div span {
    width: 80%;
    max-width: 200px;
}

.MuiBox-root,
.css-1nltrol {
    background-color: #212529;
}

.btn-remove,
.btn-adc-rem {
    display: inline-block;
}

.btn-adc-rem h3 {
    margin: 0;
}

.btn-remove {
    float: right;
}

.btn-danger {
    margin-left: 10px;
}


.btn-co {
    display: inline-block;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    cursor: pointer;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    background-color: #FFFF;
    box-shadow: 0 -1px 0 #e5e5e5, 0 0 2px rgb(0 0 0 / 12%), 0 2px 4px rgb(0 0 0 / 24%);
    border: 0px solid #202020;
    padding: .375rem .75rem;
    font-size: 1rem;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out
}

.btn-r {
    border-radius: 0 8px 8px 0;
    color: #dc3545;

}

.btn-l {
    border-radius: 8px 0 0 8px;
    color: #36e794;
}

.btn-c {
    border-radius: 8px 0 0 8px;
    color: #3f87a6;
}


.btn-g {
    border-radius: 8px 8px 8px 8px;
    margin: 0 3px 0 5px;
}

.btn-r:hover {
    background-color: #dc3545;
    color: #FFFF;
}

.btn-c:hover {
    background-color: #3f87a6;
    color: rgb(255, 255, 255);
}

.btn-l:hover {
    background-color: #198754;
    color: #FFFF;
}

/* Botões Fonte: Bootstrap */
.btn {
    display: inline-block;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    cursor: pointer;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    background-color: transparent;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    font-size: 1rem;
    border-radius: .25rem;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out
}


@media (prefers-reduced-motion:reduce) {
    .btn {
        transition: none
    }
}

.btn:hover {
    color: #212529
}

.btn-check:focus+.btn,
.btn:focus {
    outline: 0;
    box-shadow: 0 0 0 .25rem rgba(13, 110, 253, .25)
}

.btn.disabled,
.btn:disabled,
fieldset:disabled .btn {
    pointer-events: none;
    opacity: .65
}

.field-login {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.field-login h2 {
    color: black;
}

.field-user {
    width: 100%;
    max-width: 650px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.btn-login {
    width: 150px;

}

.area-btn-login {
    margin-top: 25px;
}

.logo-top {
    width: 60%;
    max-height: 407px;
    max-width: 665px;
    height: 100%;
}

.area-logo {
    margin-top: 50px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.bodypagelogin {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
    background-color: #ffffff;
    height: 100vh;
}

.backup {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 650px;

}

.area-buttom-bkp {
    background-color: var(--card-bg);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 150px;
    margin-top: 50px;
}

.area-buttom-bkp button {
    margin-bottom: 20px;
}

.area-buttom-restore {
    background-color: var(--card-bg);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 150px;
    margin-top: 10px;
}

.area-buttom-restore input {
    margin-bottom: 10px;
}

#file-bkp {
    margin-top: 15px;
}

.table-bkp {
    width: 100%;
    overflow-y: auto;
    overflow-x: auto;
    margin-bottom: 25px;
    margin-top: 25px;
}


.area-list-restore {
    margin-top: 20px;
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.title-page {
    display: none;
}

.btn-new {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #36e794;
    font-size: 17px;
}

.btn-new svg {
    margin-right: 4px;
}

.btn-new:hover {
    cursor: pointer;
    color: #198754;
}

.input-search {
    height: 25px;
    width: 50%;
    min-width: 150px;
    max-width: 400px;
    border-radius: 30px;
    padding: 0 10px 0 10px;
}

@media only screen and (min-width: 700px) {
    .bodypagelogin {
        display: flex;
        justify-content: flex-start;
        flex-direction: row;
        align-items: center;
        padding: 0;
        height: 100vh;
    }

    .logo-top {
        width: 80%;
        max-height: 407px;
        max-width: 665px;
        height: 100%;
    }

    .area-logo {
        width: 60%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .field-login {
        width: 40%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        background-color: #000000;
        height: 100vh;
    }

    .field-login h2 {
        color: white;
    }
}

@media only screen and (min-width: 1300px) {
    .title-page {
        display: flex;
    }
}

@media only screen and (min-width: 1400px) {
    .bodypagelogin {
        display: flex;
        justify-content: center;
        flex-direction: row;
        align-items: center;
        padding: 0;
    }

    .logo-top {
        width: 80%;
        max-height: 407px;
        max-width: 665px;
        height: 100%;
    }

    .area-logo {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .field-login {
        width: 559px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        background-color: #000000;
        height: 100vh;
    }
}