.searchinput {
    width: 100%;
    background: transparent;
    outline-width: 0;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: none;
    font-size: 15px;
    margin-top: 10px;
    margin-bottom: 10px;
    color: #FFF;
    padding: 0 0px 0 5px;
}

.search-comp {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 25px;

}

.search-comp svg {
    color: #FFF;
    width: auto;
}

.icon-clean-serach:hover {
    color: var(--del-hover);
}

.svg-div{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 16px
}

.group-search{
    display: flex;
    flex-direction: row;
    width: 100%;
}