

.card-dashboard {
    width: 95%;
    min-height: 211px;
    min-width: 100px;
    max-width: 600px;
    background-color: black;
    margin-bottom: 10px;
    padding: 10px;
}

.top-card-dash h4 {
    margin: 6px 0 0 0;
    padding: 0;
}

.itens-card {
    width: 100%;
    display: flex;
    flex-direction: row;
    margin: 6px 0 0 0;    
    background-color:  rgb(36, 36, 36);       
}
.itens-card p{
    padding: 3px;
    margin: 0;
}

.name-item {
    width: 80%;
}

.value-item {
    width: auto;
    text-overflow: ellipsis;
}

.cards-group {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}



@media only screen and (min-width: 700px) {
    .cards-group {
        display: flex;
        flex-direction: row;
        align-items: center;
        width: 100%;
        flex-wrap: wrap;
        justify-content: center;
    }

    .card-dashboard {
        width: 100%;
        min-height: 200px;
        min-width: 100px;
        max-width: 600px;
        background-color: black;
        margin: 10px;
        
    }
}